<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <h2 class="text-center">Question #{{ item_number }}</h2>
        <h3>{{ question }}</h3>

        <div class="choices">
            <form action="/exam" method="POST">
                <input type="hidden" name="item_number" value="{{ item_number }}" />
                {{#choices}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="{{ letter }}" required>
                        <label class="form-check-label">{{ choice }}</label>
                    </div>
                {{/choices}}
                <button type="submit" class="btn btn-primary mt-3">NEXT</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
